body {
    display: block;
    margin: 0px;
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    background-color: #cbd2d9;
}

/* Styling for the top bar */
.fmg-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    background-color: #333;
    color: white;
    padding: 2px 10px 2px 10px;
}

/* Styling for the body container */
.fmg-body {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 20px;
    display: flex;
}

/* Styling for the sidebar */
.fmg-sidebar {
    width: 203px;
    height: auto;
    border: 1px solid #b2b8bf;
    background-color: #dbecf4;
}

.fmg-sidebaritem {
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #f3f3f3;
}

.fmg-sidebaritem:hover {
    background-color: #ddd;
}

.fmg-sidebaritem-active {
    padding: 7px 10px 7px 10px;
    background-color: #d3d3d3;
    font-weight: bold;
}

/* Styling for the main content area */
.fmg-mainarea {
    flex-grow: 1;
    margin-left: 12px;
    border: 1px solid #b2b8bf;
    background-color: #fff;
}

.fmg-form-object{
    margin: 10px;
}

.fmg-form-codebox-box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 550px;
    overflow-x: auto;
}
.fmg-form-codebox-button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.fmg-form-codebox-button:active {
    background-color: #0056b3;
}
.fmg-form-codebox-message {
    font-size: 14px;
    color: green;
    margin-top: 5px;
    display: none;
}