/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
}

/* Clients Area Layout */
.ca-main-layout {
    min-width: 900px;
    display: flex;
    height: 100vh;
}


/* Alerts */
.alert {
    max-width: 400px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.875rem;
    box-sizing: border-box;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


/* Sidebar */
.sidebar {
    min-width: 160px;
    width: 160px;
    background-color: #23282d;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #3c434a;
}

.sidebar-header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-separator{
    height: 20px;
}

.menu-item {
    border-bottom: 1px solid #3c434a;
}

.menu-item a {
    font-size: 12px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #f0f0f1;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-item a:hover,
.menu-item.active a {
    background-color: #0073aa;
    color: #fff;
}


/* General form styling */
.fmg_formentry_field, .fmg_formentry_checkbox, .fmg_formentry_radiogroup, .fmg_formentry_dropdown {
    margin-bottom: 16px;
    font-family: "Arial", sans-serif;
    max-width: 450px;
}

.fmg_formentry_label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #23282d;
}

.fmg_formentry_input, .fmg_formentry_input_checkbox, .fmg_formentry_input_radio, .fmg_formentry_dropdown-menu, .fmg_formentry_dropdown input {
    font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #ccd0d4;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #32373c;
}

.fmg_formentry_input:focus, .fmg_formentry_input_checkbox:focus, .fmg_formentry_dropdown input:focus , .fmg_formentry_input_radio:focus {
    border-color: #007cba;
    box-shadow: 0 0 3px rgba(0, 123, 186, 0.5);
    outline: none;
}

/* Styling for checkboxes and radio buttons */
.fmg_formentry_checkbox, .fmg_formentry_radio {
    display: flex;
    align-items: center;
}

.fmg_formentry_checkbox label, .fmg_formentry_radio label {
    margin-left: 8px;
    font-weight: normal;
    margin-bottom: unset;
}

.fmg_formentry_input_checkbox, .fmg_formentry_input_radio {
    width: auto;
}

.fmg_formentry_remark {
    font-size: 12px;
    font-weight: 100;
    margin-top: unset;
    margin-bottom: 14px;
}

/* Styling for radio group */
.fmg_formentry_radiogroup {
    margin-top: 10px;
}

.fmg_formentry_radio {
    margin-bottom: 8px;
    margin-left: 25px;
}




/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 12px;
    color: #fff;
    background-color: #23282d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Content Section */
.content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 20px;
    min-width: 800px;
    background-color: #f1f1f1;
    flex: 1;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.fmg_formentry_dropdown {
    position: relative;
    display: block;
}

.fmg_formentry_dropdown .fmg_formentry_dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fmg_formentry_dropdown .fmg_formentry_dropdown-menu.active {
    display: block;
}

.fmg_formentry_dropdown .fmg_formentry_dropdown-menu div {
    padding: 8px;
    cursor: pointer;
}

.fmg_formentry_dropdown .fmg_formentry_dropdown-menu div:hover {
    background-color: #f0f0f0;
}


.fmg_SectionList_dashboard {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 1200px;
    margin: 30px auto;
}

/* Header */
.fmg_SectionList_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fmg_SectionList_header h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #0073aa;
}

.fmg_SectionList_search-box input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 250px;
}

/* Table */
.fmg_SectionList_table {
    width: 100%;
    border-collapse: collapse;
}

.fmg_SectionList_table th,
.fmg_SectionList_table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.fmg_SectionList_table th {
    background-color: #f7f7f7;
    font-size: 1rem;
    color: #333;
}

.fmg_SectionList_title {
    color: #0073aa;
    text-decoration: none;
    font-weight: bold;
}

.fmg_SectionList_title:hover {
    text-decoration: underline;
}

.fmg_SectionList_description {
    font-size: 0.875rem;
    color: #555;
    margin-top: 5px;
}

.fmg_SectionList_version,
.fmg_SectionList_date {
    min-width: 130px;
    font-size: 0.875rem;
    color: #333;
}

.fmg_SectionList_output {
    min-width: 300px;
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}