.widget-language-select {
    padding: 20px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    max-height: fit-content;
    display: inline-flex;
    margin: 5px;
}

@media (max-width: 940px) {

    .widget-language-select {
        padding: unset;
        width: unset;
        display: block;
    }
}

.language-list {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.language-list>li>a {
    display: block;
    padding: 3px 15px;
    margin: 8px 0px;
}

.language-list>li>a:hover {
    text-decoration: none;
    background-color: rgb(226, 226, 226);
}